body{
	width: 100%;
	background-color: #007ced;
	background: linear-gradient(to bottom, #007ced 1%,#cce7ff 100%);
}

.page{
	overflow-x: hidden;
		  position: relative;
  height: -webkit-fill-available;
  background: url(https://static.radulescu.me/examples/clouds/clouds1000.png);
  background: url(https://static.radulescu.me/examples/clouds/clouds1000.png) 0 200px,
              url(https://static.radulescu.me/examples/clouds/clouds1200_1.png) 0 300px,
              url(https://static.radulescu.me/examples/clouds/clouds1000_blur3.png) 100px 250px;
	animation: wind 20s linear infinite;
}

.header-block-img{
	display: flex;
	justify-content: space-between;
}
@keyframes wind{
  0% {
    background-position: 0 200px, 0 300px, 100px 250px;
  }
  100% {
    background-position: 1000px 200px, 1200px 300px, 1100px 250px;
  }

}

}

.header-block{
	display: flex;
	justify-content: space-between;
	color: white;
}

.header-block-text{
	text-align: center;
	margin-bottom: 50px;
}
.header-block-img img{
	box-shadow: 0 19px 38px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .22);
	width: 300px;
	height: 180px;
	margin: auto;
}

.game{
  background: #efefef;
  height:500px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .22);
}

.score{
  font-size: 330px;
  z-index: 20;
  font-family: arial;
  color: #d7e4d9;
  user-select:none;
  width:100%;
  text-align:center;
}

.box{
  
  width: 100px;
  height:100px;
  position:absolute;
  top: -150px;
  transition: transform 1.5s linear;
  cursor: pointer;
  z-index:100;
}

.move{
   transform:translateY(120vh);
}

.counter{
  width:100%;
  margin: 0 auto;
  text-align:center;
  font-family:arial;
  color:red;
  font-weight:bold;
  padding-top:10px;
  font-size:20px;
  position:relative;
  z-index:9999;
}

@media(max-width:768px){
	.game{
		margin-top: 50px;
	}
}